.header {
    display: flex;
    background-color: #1C4D20;
    color: white;
    gap: 40%;
  }
  
  .header img{
    padding-left: 30%;
    width: 80px;
    height: 70px;
  }
  .header nav ul {
    padding-top: 29px;
    display: flex;
    list-style: none;
    gap: 7%;
  }
  .header nav {
    display: flex;
    gap: 30%;
  }
  .header nav ul li a {
    color: white;
    text-decoration: none;
  }
.header button{
    margin-top: 30%;
    padding: 7px;
    background-color: white;
    color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    color: #fff;
    font-weight: 300;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown li {
    font-weight: 100;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    font-family: 'ubuntu', sans-serif;
    background-color: white;
    min-width: 200px;
    border-radius: 5px;
    padding: 12px 16px;
    margin-top: 10px;
    margin-left: -50px;
    text-align: center;
    font-size: 16px;
    color: #1C4D20;
    border: 1px solid #1C4D20;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown p Link {
    color: black;
    border-bottom: 1px solid #cccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content Link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  
  .dropdown-content Link:hover {
    background-color: #cccc;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .profiledropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    color: #fff;
    font-weight: 700;
  }
  
  .profiledropdown {
    position: relative;
    display: inline-block;
  }
  
  .profiledropdown li {
    font-weight: 100;
  }
  
  .profiledropdown-content {
    display: none;
    position: absolute;
    font-family: 'ubuntu', sans-serif;
    background-color: white;
    min-width: 110px;
    border-radius: 5px;
    padding: 2px 6px;
    margin-top: 10px;
    margin-left: -50px;
    font-size: 16px;
    color: #1C4D20;
    border: 1px solid #1C4D20;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .profiledropdown p Link {
    color: black;
    border-bottom: 1px solid #cccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .profiledropdown-content Link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  
  .profiledropdown-content Link:hover {
    background-color: #cccc;
  }
  
  .profiledropdown:hover .profiledropdown-content {
    display: block;
  }
    
  .icons{
    display: flex;
    gap: 30px;
    margin-top: 4.1%;
}

  .Profile a i {
    color: rgb(197, 206, 70);
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: transparent;
    padding: 5px;
   }
   .Profile a i:hover {
       border-radius: 20px;
       background-color: rgba(248, 248, 255, 0.418);
      }
   .Profile a i{
       font-size: 20px;
   }