.landingheader {
    display: flex;
    background-color: #1C4D20;
    color: white;
    gap: 60%;
  }
  
  .landingheader img{
    padding-left: 30%;
    width: 80px;
    height: 70px;
  }
  .landingheader nav ul {
    padding-top: 25px;
    display: flex;
    list-style: none;
    gap: 10%;
  }
  .landingheader nav {
    display: flex;
    gap: 50%;
  }
  .landingheader nav ul li a {
    color: white;
    text-decoration: none;
  }
.landingheader button{
    margin-top: 30%;
    padding: 5px;
    background-color: white;
    color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}